= simple_form_for(@job, html: {class: 'form-horizontal'}) do |f|
	= f.collection_select :category_id, Category.all, :id, :name, {promt: "Escolha a categoria"}
	= f.input :title, label: "Job Título"
	= f.input :description, label: "Job Descrição"
	= f.input :company, label: "Job Empresa"
	= f.input :url, label: "Link do Job"
	%br/
	= f.button :submit